In [ ]:
#1.	Write a code to create a string with your name and print it.
a = "Hello World!"

In [ ]:
#2.	Write a code to find the length of the string "Hello World".
a = "Hello World!"
len(a)

12

In [ ]:
#3.	Write a code to slice the first 3 characters from the string "Python Programming".
A = "Python Programming"
sliced_A = A[:3]
print("First 3 characters:", sliced_A)

First 3 characters: Pyt

In [ ]:
#4.	Write a code to convert the string "hello" to uppercase.
B = "hello"
B.upper()

'HELLO'

In [ ]:
#5.	Write a code to replace the word "apple" with "orange" in the string "I like apple".
c = "i like apple"
c.replace("apple","orange")

'i like orange'

In [ ]:
#6.	Write a code to create a list with numbers 1 to 5 and print it.
d = [1,2,3,4,5]
print(d)

[1, 2, 3, 4, 5]

In [ ]:
#7.	Write a code to append the number 10 to the list [1, 2, 3, 4]
e = [1,2,3,4]
e.append(10)
print(e)

[1, 2, 3, 4, 10]

In [ ]:
#8.	Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
f = [1,2,3,4,5]
f.remove(3)
print(f)

[1, 2, 4, 5]

In [ ]:
#9.	Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
letters[1]

'b'

In [ ]:
#10.	Write a code to reverse the list [10, 20, 30, 40, 50].
W = [10,20,30,40,50]
W.reverse()
print(W)

[50, 40, 30, 20, 10]

In [ ]:
#11.	Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100,200,300)
my_tuple

(100, 200, 300)

In [ ]:
#12.	Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
colors[-2]

'blue'

In [ ]:
#13.    Write a code to find the minimum number in the tuple (10, 20, 5, 15).
# Define the tuple
print(min((10,20,5,15)))

TypeError: 'tuple' object is not callable

In [ ]:
#14.	Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [ ]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [ ]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
E = {1,2,3,4,5}
E.clear()
E

set()

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [1]:
#21.	Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Arun",
    "age": 21,
    "city": "Nagpur"
}

print(person)

{'name': 'Arun', 'age': 21, 'city': 'Nagpur'}

In [2]:
#22.	Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [3]:
#23.	Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [4]:
#24.	Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']

print(person)

{'name': 'Bob', 'city': 'New York'}

In [5]:
#25.	Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists in the dictionary.

In [6]:
#26.	Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]

my_tuple = ('a', 'b', 'c')

my_dict = {'name': 'Alice', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 25}

In [7]:
#27.	Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = random.sample(range(1, 101), 5)

random_numbers.sort()

print("Sorted random numbers:", random_numbers)

Sorted random numbers: [18, 44, 48, 55, 98]

In [8]:
#28.	Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

print("Element at third index:", my_list[3])

Element at third index: date

In [9]:
#29.	Write a code to combine two dictionaries into one and print the result.
# Define two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combine them using the update() method
dict1.update(dict2)

# Print the combined dictionary
print("Combined Dictionary:", dict1)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [10]:
#30.	Write a code to convert a list of strings into a set.
# List of strings
string_list = ["apple", "banana", "apple", "cherry"]

# Convert list to set
string_set = set(string_list)

# Print the result
print("Set:", string_set)

Set: {'apple', 'cherry', 'banana'}